<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper.userOperateMapper">

	<insert id="register" parameterType="map">
		INSERT INTO user_info(user_create, user_modify, user_name, user_ch_name,
        <if test="phone_number!=0">
            phone_number,
        </if>
		    user_password, user_type_id, work_area_id, work_address)
        VALUES (sysdate(), sysdate(),
		#{userName},
		#{userChName, jdbcType=VARCHAR},
        <if test="phone_number!=0">
            #{phoneNumber, jdbcType = INTEGER},
        </if>
            #{password, jdbcType = VARCHAR},
            #{userTypeId, jdbcType = INTEGER},
			#{workAreaId, jdbcType = INTEGER},
            #{workAddress, jdbcType = VARCHAR}
        )
	</insert>
	<select id="login" parameterType="map" resultType="user_info">
		SELECT u.user_id, u.user_name, u.user_ch_name, u.phone_number, u.user_type_id, t.role_name user_type,
			u.work_area_id, u.work_address, u.active_code, r.town, r.village
		FROM user_info u, region r, user_type t
		WHERE u.user_name = #{userName, jdbcType = VARCHAR}
			  AND u.user_password = #{password, jdbcType = VARCHAR}
			  AND u.work_area_id = r.id
			  AND t.role_id = u.user_type_id
	</select>
	<update id="updateCode" parameterType="map">
		UPDATE user_info
		SET active_code = #{activeCode, jdbcType = VARCHAR}
		WHERE user_id = #{userId, jdbcType = int}
	</update>
	<select id="listAuthority" parameterType="int" resultType="authorityVo">
		SELECT a.authority_id authorityId,COUNT(b.authority_id) ifAuthority FROM
			(SELECT * FROM authority) a
			LEFT JOIN link_authority_type b ON b.roleid = #{roleId} AND b.authority_id = a.authority_id
		GROUP BY a.authority_id
	</select>
	<update id="changePwd" parameterType="map">
		UPDATE user_info
		SET userpassword = #{newPwd, jdbcType = VARCHAR}
		WHERE user_id = #{userId, jdbcType = INTEGER}
	</update>
	<select id="checkToken" parameterType="map" resultType="int">
		SELECT count(*) FROM user_info
		WHERE user_id = #{userId, jdbcType = INTEGER}
		AND active_code = #{activeCode, jdbcType = VARCHAR}
	</select>
	<select id="checkPwd" resultType="java.lang.Integer">
		SELECT count(*) FROM user_info
		WHERE user_id = #{userId, jdbcType = INTEGER}
		AND user_password = #{password, jdbcType = VARCHAR}
	</select>
	<update id="modifyInfo" parameterType="map">
		UPDATE user_info
		SET
		<if test="phoneNumber != 0">
			phone_number = #{phoneNumber, jdbcType = INTEGER},
		</if>
		<if test="workAddress != ''">
			work_address = #{workAddress, jdbcType = VARCHAR},
		</if>
		1=1
		WHERE user_id = #{userId, jdbcType = INTEGER}
	</update>
	<update id="updateUser" parameterType="int">
		UPDATE user_info
		SET user_modify = sysdate()
		WHERE user_id = #{userId}
	</update>
</mapper>